<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../css/admin-dashboard.css">
    <link rel="icon" type="image/svg+xml" href="../assets/logo/raze-dark-1.svg" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/svg+xml" href="../assets/logo/raze-light-1.svg" media="(prefers-color-scheme: dark)">

    <!-- High Priority Scripts -->
    <script src="../scripts/security/protect.js" defer></script>
    <script src="../scripts/interface/showToast.js" defer></script>
    <script src="../scripts/security/auth.js" defer></script>
</head>

<body>
    <!-- Menu Header -->
    <header>
        <div class="profile">
            <div class="username"><span id="username"></span></div>
        </div>
        <button class="logout-button" id="logout-button"><i class="bi bi-box-arrow-right"></i>Log Out</button>
    </header>

    <!-- Low Priority Scripts -->
    <script src="../scripts/interface/adminDashboard.js" defer></script>
    <script src="../scripts/interface/updateFavicon.js" defer></script>
</body>
</html>
