<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Raze</title>
    <link rel="stylesheet" href="../styles/form.css">

    <!-- High Priority Scripts -->
    <script src="../scripts/security/redirect.js" defer></script>
    <script src="../scripts/interface/showToast.js" defer></script>
    <script src="../scripts/security/auth.js" defer></script>
</head>

<body>
    <!-- Logo -->
    <img class="logo" src="../assets/logo/raze-dark-wordmark.svg">

    <!-- Slogan -->
    <div class="slogan-container">
        <h4 class="slogan">🏁 Compete. ✅ Complete. 🏆 Dominate.</h4>
        <h4 class="slogan">🚀 Level Up Your Productivity!</h4>
        <h4 class="slogan">🔝 Rise to the Top. 🔥 Every Task Counts!</h4>
        <h4 class="slogan">🏅 Your Productivity, Your Rankings!</h4>
    </div>

    <!-- Sign Up Form -->
    <div class="container">
        <h2>Sign Up</h2>
        <form id="signup-form">
            <input type="text" id="username" placeholder="Username" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a class="link" href="/login">Login</a></p>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Raze. All Rights Reserved.</p>
    </footer>

    <!-- Toast Notification -->
    <div id="toast" class="toast">
        <div id="toast-content" class="toast-content">
          <span id="toast-message"></span>
        </div>
    </div>
    
    <!-- Low Priority Scripts -->
    <script src="../scripts/interface/updateFavicon.js" defer></script>
    <script src="../scripts/interface/sloganSwitch.js" defer></script>
</body>
</html>
