@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap");

:root {
    --header-color: #d6dce4;
    --bg-color: #e2e8f0;
    --text-color: #404040;
    --primary-color: #475569;
    --secondary-color: #cbd5e1;
    --task-color: #f6f6f6;
    --cancel-color: #e5e7eb;
    --cancel-hover-color: #cbced4;
    --confirm-color: #dc2626;
    --confirm-hover-color: #731717;
    --task-size: 48px;
}

/* CSS Reset */
* {
    font-family: Mulish, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    margin: 0;
    min-height: 100vh;
}

/* Menu Header Styles */
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bg-color);
    color: white;
    border-bottom: 2px solid var(--secondary-color);
    z-index: 1000;
}
.username {
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color);
}
.logout-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.logout-button i {
    margin-right: 10px;
}
.logout-button:hover {
    background-color: var(--text-color);
}
